<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="./tests/autoloader.php"
    colors="true"
    convertErrorsToExceptions="false"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false">

    <testsuites>
        <testsuite name="Devtools Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <file>./tests/autoloader.php</file>
            <directory>./vendor/composer</directory>
            <directory>./vendor/predis-lib</directory>
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-html" target="tests/report"/>
        <log type="tap" target="tests/logfile.tap"/>
    </logging>

</phpunit>
