<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="./tests/autoloader.php"
    colors="true" 
    convertErrorsToExceptions="false"
    convertNoticesToExceptions="false"
    convertWarningsToExceptions="false">
    <php>
<!--//  <var name="db_dsn" value="mysql:dbname=hello_world_test;host=localhost"/>
        <var name="db_username" value="root"/>
        <var name="db_password" value=""/>//-->
    </php>

    <testsuites>
        <testsuite name="Devtools Test Suite">
            <directory>./tests/</directory>
            <!--//<directory>./lib/predis/tests/Predis</directory>//-->
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <exclude>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
        <blacklist>
            <directory>./lib/predis</directory>
        </blacklist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="coverage-html" target="tmp"/>
        <!--//<log type="tap" target="tmp/logfile.tap"/>//-->
    </logging>

    <!-- Predis Testing -->
        <php>
        <!-- Redis
        <const name="REDIS_SERVER_VERSION" value="2.6" />
        <const name="REDIS_SERVER_HOST" value="127.0.0.1" />
        <const name="REDIS_SERVER_PORT" value="6379" />
        <const name="REDIS_SERVER_DBNUM" value="15" />
        -->

        <!-- Webdis
        <const name="WEBDIS_SERVER_HOST" value="127.0.0.1" />
        <const name="WEBDIS_SERVER_PORT" value="7379" />
        -->
    </php>
</phpunit>
