<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/autoloader.php" colors="true">
    <php>
<!--//        <var name="db_dsn" value="mysql:dbname=hello_world_test;host=localhost"/>
        <var name="db_username" value="root"/>
        <var name="db_password" value=""/>//-->
    </php>

    <testsuites>
        <testsuite name="Devtools Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./lib/</directory>
            <exclude>
                <directory>./tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="tap" target="/tmp/logfile.tap"/>
    </logging>

</phpunit>
